/* Grid options*/
body {
    display: grid;
    grid-template-columns: 25% 25% 25% 20%;
    grid-template-rows: 15vw 35vw 25vw 15vw 10vw;
    grid-gap: 1em;
    max-width: 92%; 
    margin: 0em;
  }
/* Grid options- end*/

/* Page loader options*/
  .loader-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000000;
    display:flex;
    justify-content: center;
    align-items: center;
  }



  .loader {
    display: inline-block;
    width: 120px;
    height: 120px;
    position: relative;
    animation: loader 2s infinite ease;
    border: 20px solid;
    border-radius: 50%;
    border-top: solid white;
    border-bottom: solid white;
  }
  .loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: #fff;
    animation: loader-inner 10s infinite ease-in;
  }
  @keyframes loader {
    0% { transform: rotate(0deg);}
    25% { transform: rotate(180deg);}
    50% { transform: rotate(180deg);}
    75% { transform: rotate(360deg);}
    100% { transform: rotate(360deg);}
  }
  @keyframes loader-inner {
    0% { height: 0%;}
    25% { height: 0%;}
    50% { height: 100%;}
    75% { height: 100%;}
    100% { height: 0%;}
  }
/* Page loader options- end*/


/* style for word "rules"*/
    .redText{

    color: red;

  }

/* style- end*/


  header,
  footer {
    grid-column: 1 / 1 span;
  }
  
  FORM {

    grid-row: 3 / 4 span;
    grid-column: 2 / 4 span;
    margin-top: 60px;
    font-size: 19px;
    font-family:'Bebas Neue', cursive; ;
    margin-left: 151px;

  }

  .commentbox {

    height: 35px;
    font-size: 19px;
    font-family:'Bebas Neue', cursive; ;
    border-color: black;
  }

  .email {

    font-size: 19px;
    font-family: 'Bebas Neue', cursive;
    border-color: black;
    margin-bottom: 10px;

  }

  .fileadd {

    padding-left: 10px;

  }

.submitbutton {

    position: relative;
    font-size: 19px;
    background-color: rgba(255, 255, 255, 0);
    border-color: rgb(0, 0, 0);
    font-family: 'Bebas Neue', cursive;

}


  footer {

  
  grid-column: 2 / 4 span;
  grid-row: 5;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  margin-top: auto;
}


  main {

    grid-column: 2 / 2 span;
    grid-row: 2;

  }

  some {

    grid-column: 4  ;
    grid-row: 2; 
    transform: rotate(90deg);

  }

/* Style for menu bar */

  aside {

    grid-column: 1 / 1 span;
    text-align: left;
    margin-left: 20px;
    margin-top: 30px;

  }
    .btn {
      cursor: pointer;
      background: transparent;
      outline: none;
      transition: 0.5s ease-in-out;
    }
    
    svg {
      position: absolute;
      left: 0;
      top: 0;
      fill: none;
      stroke: #fff;
      stroke-dasharray: 150 480;
      stroke-dashoffset: 150;
      transition: 0.5s ease-in-out;
    }
    
    .btn:hover {
      transition: 0.5s ease-in-out;
      background: rgb(235, 56, 56);
      color: white;
    }
    
    .btn:hover svg {
      stroke-dashoffset: -480;
    }

    .vertical-menu {
      font-family: 'Bebas Neue', cursive; ;
      font-size: 30px;
      width: 301px;
    }
    
    .vertical-menu a {
      background-color: rgba(90, 90, 90, 0.548); /* white background color */
      color: rgb(255, 255, 255); /* Black text color */
      display: block; /* Make the links appear below each other */
      padding: 12px; /* Add some padding */
      text-decoration: none; /* Remove underline from links */
      text-align: left;
    }

/* Menu bar style- end*/

/* logo settings*/
  .name {

    width: 75%;
    position: relative;
    bottom: 45px;
    left: 0px;
    margin-top: 5px;
  }
  
    .name2 {
      text-align: center;
      font-family: 'Bebas Neue', cursive;
      font-size: 20px;
      position: relative;
      bottom: 103px;
      right: 19px;
      width: 339px;
      background-color: white;
    }

    /* logo settings- end*/


    .work {

        font-family: 'Bebas Neue', cursive;
        font-size: 22px  

    }

    /* "rules" settings*/

    #about {

        font-family: 'Bebas Neue', cursive;
        font-size: 60px    

    }

    .rules {

        font-size: 20px;
        font-family: 'Bebas Neue', cursive;

    }


      .SOME {

        font-family: 'Bebas Neue', cursive; 
        font-size: 25px;
        border: none;
        background-color: rgba(255, 255, 255, 0);
        color: rgb(255, 34, 34);

      }


      options {

        grid-row: 3;
        grid-column: 2;
        padding-top: 20px;

      }

      .options {
        font-size: 19px;
        margin-bottom: 4px;
        margin-top: 40px;
        position: relative;
        float: right;
        width: 190px;
        border-color: black;
        border-width: 2px;

      }

      work {

        grid-column: 2 / 4 span;
        grid-row: 1;
        text-align: right;
      }

      story {

        grid-row: 2;
        grid-column: 2 / 2 span;
        padding-left: 153px;

      }

      .story {

        font-family: 'Bebas Neue', cursive; ;
        font-size: 100px;
        position: relative;
        right: 150px;
        -webkit-text-decoration-line: underline; /* Safari */
        text-decoration-line: underline; 
        text-decoration-color: tomato;
        opacity: 0.5;

      }


      .points {

        font-size: 18px;
        font-family:'Open Sans', sans-serif; 
        margin-top: 30px;
        margin-bottom: 30px;
        text-align: justify;
      }

      text {

        grid-row: 3;
        grid-column: 2 / 4;

      }
/* "rules" settings- end*/

* {
  box-sizing: border-box;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: rgb(230, 36, 36);
    color: rgb(255, 255, 255);
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    margin-right: 501px;
    font-family: 'Bebas Neue', cursive;
    font-size: 13px;
    transition: 0.5s ease-in-out;
    letter-spacing: 1px;
}

input[type=file] {
  background-color: rgba(17, 14, 14, 0);
    color: rgb(0, 0, 0);
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    margin-right: 132px;
    font-family: 'Bebas Neue', cursive;
    font-size: 16px;
}

input[type=submit]:hover {
  transition: 0.5s ease-in-out;
  background: rgb(235, 56, 56);
  color: white;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.col-25 {
  float: left;
  width: 13%;
  margin-top: 6px;
  font-size: 25px;
}

.col-75 {
  float: left;
  width: 33%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.imageupld {

  display: block;
    width: 130px;
    height: 45px;
    margin-left: 123px;
    font-size: 13px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-color: #000000;
    border-radius: 4px;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 2px;
    display: block;
    width: 106px;
    height: 41px;
    transition: 0.5s ease-in-out;
}

.imageupld:hover {

  transition: 0.5s ease-in-out;
  background: rgb(235, 56, 56);
  color: white;

}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}


